* {
    background-color: black;
}

.title {
    text-align: center;
    font-family: Helvetica, "Times New Roman", sans-serif;
    color: white;
    background-color: white;
    font-size: 24px;
}

.warning {
    text-align: center;
    font-family: Helvetica, "Times New Roman", sans-serif;
    color: white;
    background-color: white;
}

ul {
    text-align: center;
    color:aqua;
    list-style-type: none;
}

a:link {
    color: pink
}

a:visited {
    color: aqua;
}

a:hover {
    color: rgb(144, 238, 144)
}